/*====================================
        Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDIT US AND TELL YOUR FRIENDS ABOUT US

      Color: Green
  ======================================*/

/*=====================================
  NAVBAR STYLES 
    ===================================*/


#menu {
    background-color:orange;
   
}

/*=====================================
  HEADERS STYLES 
    ===================================*/


.header-sec .overlay{
    background:orange;
}

  /*=====================================
  TESTIMONIALS STYLES 
    ===================================*/

.testi-sec .overlay{
    background:orange;
}
 

/*=====================================
  PRICING STYLES 
    ===================================*/

.single-price {
    background-color:orange;
}
.multi-price {
    background-color:orange;
}
/*=====================================
  FOOTER STYLES 
    ===================================*/

 .myfooter {
    background-color: #D00000;
}